.center {
  text-align: center;
}

.dropdown{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  width: 100%;
}
input[type=text] {
  background-color: #f1f1f1;
  width:25%
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 7px;
  font-size: 14px;
}
input:focus {outline: 3px solid #ddd;}

.card {
  margin: 10px;
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow: 2px 5px 5px grey;
  transition: all .05s;
  border-radius: 5px;
}
.card:hover{
  background-color: bisque;
}
.content {
  max-height: 400px;
  overflow-y: auto;
}